.nav {
    top: 0;
    margin-bottom: 100px;
    background: rgb(0, 255, 191);
    border-bottom: 1px solid rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px 0px;
}

.logo img {
    width: 120px;
    cursor: pointer;
    animation: spin 2s linear infinite;
    animation-direction: alternate;}

    @keyframes spin {
    to {transform: rotate(15deg);}
    }

.options li {
    float:right;
    display: block;
    color: rgb(77, 77, 77);
    padding: 14px;
    font-size: 30px;
    cursor: pointer;
  }

.options li a {
    color: rgb(77, 77, 77);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 30px;
  }

.options li:hover {
    color: white;
    transform: scale(0.9);
}