* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.footer {
    background-color: #ffffff;
    padding: 40px 0;
    color: rgb(77, 77, 77);
}
.connections {
    text-align: center;
    padding-bottom: 25px;
}

.social {
    width: 40px;
    margin: 5px;
    cursor: pointer;
}

.footer img:hover {
    opacity: 0.5;
}

.footer ul {
    margin-top: 0;
    margin-bottom: 20px;
    padding: 0;
    list-style: none;
    font-size: 17px;
    text-align: center;
}

.footer ul li {
    display: inline-block;
    padding: 0 15px;
    cursor: pointer;
}

.footer ul li:hover {
    opacity: 0.7;
}

.copyright {
    font-size: 12px;
    opacity: 0.7;
}

.nonlink {
    display: flex;
    justify-content: center;
}

.nonlink p {
    margin-top: 15px;
}