.reactPost {
    margin: 15%;
    background-color: rgb(240, 248, 255);
    border: 2px solid white;
    box-shadow: 0 0 4px #00ffbf, 0 0 6px #00ffbf;
    padding-top: 5%;
}

.reactPic {
    display: flex;
    justify-content: center;
}

.reactIntro {
    text-align: center;
    background-color: rgb(0, 0, 0);
    font-size: 30px;
    color: white;
}

.reactInfo{
    font-size: 30px;
    text-align: center;
    padding: 10px;
}
